<launch>

  <include file="yocs_cmd_vel_mux.launch">

  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load cmd_vel_mux/CmdVelMuxNodelet kobuki">
    <param name="subscribers_cfg_file" value="$(find kobuki_node)/param/keyop_mux.yaml"/>
    <remap from="cmd_vel_mux/mux_cmd_vel" to="mobile_base/commands/velocity"/>
  </node>

</launch>
